gunicorn==19.9.0 
psycopg2-binary==2.7.7
asgiref==3.4.1
beautifulsoup4==4.11.1
brotlipy==0.7.0
certifi==2022.6.15
cffi==1.15.0
charset-normalizer==2.0.4
cryptography==36.0.0
dj-database-url==0.5.0
Django==3.2.5
djangorestframework==3.13.1
pip==21.2.4
psycopg2==2.8.6
pyOpenSSL==22.0.0
PySocks==1.7.1
requests==2.27.1
setuptools==61.2.0
soupsieve==2.3.1
sqlparse==0.4.1
typing_extensions==4.1.1
urllib3==1.26.9
wheel==0.37.1
win-inet-pton==1.1.0
wincertstore==0.2
pycparser==2.21
idna==3.3
pytz==2021.3
